alembic==1.6.5
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==0.15.1
greenlet==1.1.0
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
Mako==1.1.4
MarkupSafe==2.0.1
nltk==3.6.2
numpy==1.21.1
oauthlib==3.1.1
pandas==1.3.1
psycopg2==2.9.1
pyphen==0.11.0
PySocks==1.7.1
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.1
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
SQLAlchemy==1.4.22
textstat==0.7.1
threadpoolctl==2.2.0
tqdm==4.61.2
tweepy==3.10.0
urllib3==1.26.6
vaderSentiment==3.3.2
Werkzeug==2.0.1
WTForms==2.3.3